body {
    font-family: arial;
    background-color: rgb(185, 179, 175);
}





.pH-container {
    text-align: center;
}

.pH-section1 {
    display: grid;
    justify-content: center;
}
.pH-section1 p{
    background-color: aqua;
}